{
    "extends": ["prettier"],
    "env": {
      "browser": true
    },
    "ignorePatterns": ["front/static/**/*.js", "**/*.bundle.js"],
    "rules": {
      "arrow-parens": [2, "as-needed", { "requireForBlockBody": true }],
      "curly": [2, "multi-line"],
      "indent": ["error", 2],
      "prefer-spread": [2],
      "no-use-before-define": "off",
      "import/prefer-default-export": 0,
      "import/no-unresolved": 0,
      "func-names": 0,
      "padding-line-between-statements": [
        "error",
        {
          "blankLine": "always",
          "prev": "*",
          "next": "return"
        },
        {
          "blankLine": "always",
          "prev": ["const", "let", "var"],
          "next": "*"
        },
        {
          "blankLine": "any",
          "prev": ["const", "let", "var"],
          "next": ["const", "let", "var"]
        }
      ],
      "sort-imports": [
        "error",
        {
          "ignoreCase": true,
          "ignoreDeclarationSort": true,
          "ignoreMemberSort": true,
          "memberSyntaxSortOrder": ["none", "all", "multiple", "single"],
          "allowSeparatedGroups": true
        }
      ]
    },
    "parser": "@babel/eslint-parser",
    "parserOptions": {
      "ecmaVersion": 6,
      "requireConfigFile": false
    }
  }
