.c-contact {
    margin: auto;

    font-size: font-size(size-10);
}

.c-contact__title {
    font-size: 3.2em;
    text-align: center;
}

.c-contact__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media(desktop-small) {
        flex-direction: row;
        justify-content: space-around;
    }
}

.c-contact__form-container {
    max-width: 700px;
}

.c-contact__err-info {
    margin-bottom: 4rem;

    font-size: font-size(size-12);
    color: color(red-2);
    text-align: center;
}
