.c-cookies {
    padding: 2rem;

    color: color(white-1);

    background-color: color(gray-2);
    border: 2px solid color(white-1);
    border-radius: 2rem;
}

.c-cookies__link {
    color: color(white-1);
    text-decoration: underline;
}

