.f-form {
    padding: 30px;

    border: 1px solid color(white-1);
    border-radius: 10px;
}

.f-form__label {
    font-size: font-size(size-18);
}

.f-form__input {
    @include input-reset;

    font-size: font-size(size-16);
    color: color(white-1);

    border-bottom: 1px solid color(white-1);
}

.f-form__input-wrapper {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.f-form__textarea {
    @include input-reset;

    resize: vertical;

    font-size: font-size(size-18);
    color: color(white-1);

    border: 1px solid color(white-1);
}

.f-form__submit {
    @include button-reset;

    width: 100px;
    height: 4rem;
    margin: 0 auto;

    font-size: font-size(size-18);
    color: color(white-1);

    border: 2px solid color(white-1);
}
