.c-info-box {
    @include flex-center-vertically;
    margin: 0 1.5rem;
}


.c-info-box__icon {
    width: 5rem;
    height: 5rem;
    background-color: color(gray-1);
    border-radius: 50%;
    @include flex-center;    
    font-size: 2.4rem;
    color: color(white-1);
}

.c-info-box__wrapper{
    @include flex-center-horizontally;
    flex-direction: column;
    
}
.c-info-box__description {
    margin-left: .5rem;
}

.c-info-box__link {
    color: color(white-1);
}

.c-contact__form-container{
    width: 90%;
}