.c-option-list {
    @include list-reset;
    @include flex-center;

    flex-direction: column;

    margin: 60px 0 20px;

    color: color(black-1);
}

.c-option-list__item {
    margin: .5rem 0;

    font-size: font-size(size-12);

    @include media(mobile) {
        font-size: font-size(size-18);
    }

    @include media(desktop-small) {
        width: 100%;

        font-size: font-size(size-16);
    }
}

.c-option-list__check-ico {
    color: color(green-1);
}

.c-option-list__times-ico {
    color: color(red-1);
}
