.c-reservations-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    // justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;

    height: calc(100vh - 75px - 250px - 50px);
    margin: 2rem 0;
}

.c-reservations-list__reservation {
    display: flex;

    width: auto;

    border: 2px solid color(gray-1);
}

.c-reservations-list__packet {
    text-align: center;

    background-color: color(brand);
}

.c-reservations-list__reservation-info {
    display: flex;
    flex-direction: column;
}

.c-reservations-list__action {
    display: flex;
    justify-content: center;
}

.c-reservations-list__accept {
    padding: 0 .75rem;

    color: color(white-1);

    background-color: color(green-1);
}

.c-reservations-list__reject {
    padding: 0 .75rem;

    color: color(white-1);

    background-color: color(red-1);
}

.c-reservations-list__client-info {
    padding: .75rem;
}
