.c-slider {
    position: relative;
    border-bottom: .5rem solid color(brand);
    height: 40vh;

    @include media(mobile) {
        height: 60vh;
    }

    @include media(desktop) {
        height: calc(100vh - 75px - 10px);
    }
}
