{% set page_name = 'Homepage' %} {% extends "layouts/default.njk" %} {% block content %} {% include
"partials/slider.njk" %}{% include "partials/packages.njk" %}{% include "partials/calendar.njk" %}{%
include "partials/contact.njk" %} {% include "partials/cookies.njk" %}{% endblock %}
