{% set title = 'Just Married | Strona Główna' %} {% extends "layouts/default.njk" %} {% block content %} {% include
"partials/slider.njk" %}{% include "partials/packages.njk" %}{% include "partials/calendar.njk" %}{%
include "partials/contact.njk" %}  {% include "partials/cookies.njk" %}{% endblock %}
