{% set page_name = '"Just Married | Logowanie"' %} {% extends "layouts/default.njk" %} {% block content %}
<div class="l-signin">
  <div class="c-signin">
    <h2 class="c-signin__title">Logowanie</h2>
    <form action="signin/check" method="post" class="f-signin">
      <div class="f-signin__input-wrapper">
        <label for="login" class="f-signin__label"> Login: </label>
        <input id="login" type="text" class="f-signin__input" name="login" required />
      </div>
      <div class="f-signin__input-wrapper">
        <label for="password" class="f-signin__label"> Hasło: </label>
        <input id="password" type="password" class="f-signin__input" name="password" required />
      </div>

      {% if err %}
      <p class="c-singin__error">Nieprawidłowy login lub hasło!</p>
      {% endif %}
      <div class="f-signin__input-wrapper">
        <button type="submit" class="f-signin__submit">Zaloguj</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
