<section id="js-calendar-id" class="l-calendar s-bottom-100">
  <div class="l-inner">
    <div class="c-calendar">
      <h2 class="c-calendar__title">Terminarz</h2>
      <div class="c-calendar__header">
        <div class="c-calendar__button-wrapper">
          <button class="c-button c-button--calendar js-button-prev">
            <i class="fa-solid fa-angles-left c-button__icon"></i>
          </button>
        </div>

        <div class="c-calendar__month-info-box">
          <p class="c-calendar__month-label">Wybrany miesiąc</p>
          <p class="c-calendar__selected-month js-selected-month">
            Kwiecień 2022
          </p>
        </div>
        <div class="c-calendar__button-wrapper">
          <button class="c-button c-button--calendar js-button-next">
            <i class="fas fa-angles-right c-button__icon"></i>
          </button>
        </div>
      </div>

      <div class="c-calendar__weekday-list-wrapper">
        <ul class="c-weekday-list c-weekday-list--shortcuts">
          <li class="c-weekday-list__item">Pon</li>
          <li class="c-weekday-list__item">Wt</li>
          <li class="c-weekday-list__item">Śr</li>
          <li class="c-weekday-list__item">Czw</li>
          <li class="c-weekday-list__item">Pt</li>
          <li class="c-weekday-list__item">Sob</li>
          <li class="c-weekday-list__item">Ndz</li>
        </ul>
        <ul class="c-weekday-list c-weekday-list--full">
          <li class="c-weekday-list__item">Poniedziałek</li>
          <li class="c-weekday-list__item">Wtorek</li>
          <li class="c-weekday-list__item">Środa</li>
          <li class="c-weekday-list__item">Czwartek</li>
          <li class="c-weekday-list__item">Piątek</li>
          <li class="c-weekday-list__item">Sobota</li>
          <li class="c-weekday-list__item">Niedziela</li>
        </ul>
      </div>

      <div class="c-calendar__day-list-wrapper">
        <ul class="c-day-list js-day-list"></ul>
        {% include "partials/reservation-popup.njk" %}
      </div>

      <div class="c-calendar__legend-list-wrapper">
        <ul class="c-legend-list">
          <li class="c-legend-list__item c-legend-list__item--one-term">
            1 wolny termin
          </li>
          <li class="c-legend-list__item c-legend-list__item--two-term">
            brak wolnych terminów
          </li>
          <li class="c-legend-list__item c-legend-list__item--actual-day">
            aktualny dzień
          </li>
        </ul>
      </div>

    </div>
  </div>
</section>
