<section class="l-cookies is-visible js-cookies-bar">
    <div class="c-cookies">
      <h2 class="c-cookies__title">Ciasteczka</h2>
      <p class="c-cookies__description">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.Animi
        necessitatibus exercitationem aliquid.
        <a href="#" class="c-cookies__link">Polityka prywatności</a>
      </p>
      <div class="c-cookies__button-wrapper">
        <button class="c-button c-button--cookies js-accept-cookies">
        Akceptuj wszystko
      </button>
    </div>

    </div>
  </section>
