<footer class="l-footer">
  <div class="l-inner l-inner--padding-0 ">
    <div class="c-footer">
      <p class="c-footer__watermark">© Just Married 2022</p>
      <div class="c-footer__button-wrapper">
        <button class="c-button c-button--go-to-up">
          Przejdź do góry <i class="fa-solid fa-arrow-up c-button__icon"></i>
        </button>
      </div>
    </div>
  </div>
</footer>
