<header class="l-header .ss-bottom-100">
  <div class="l-inner l-inner--padding-0">
    <div class="c-header js-header">
      <div class="c-header__background"></div>
      <div class="c-header__logo">
        <a href="#" class="c-header__link"
          >{% include "partials/brand.njk" %}
        </a>
      </div>
      <div class="c-header__hamburger-container">
        <button class="c-hamburger js-hamburger">
          <span class="c-hamburger__lines"></span>
        </button>
      </div>
      <nav class="c-header__nav">
        <ul class="c-main-nav">
          <li class="c-main-nav__item">
            <a href="#" class="c-main-nav__link">
              <i class="fas fa-home-lg c-main-nav__ico"></i>Strona Główna
            </a>
          </li>
          <li class="c-main-nav__item">
            <a href="#" class="c-main-nav__link">
              <i class="fa-solid fa-sack-dollar c-main-nav__ico"></i>Cennik
            </a>
          </li>
          <li class="c-main-nav__item">
            <a href="#" class="c-main-nav__link">
              <i class="fa-solid fa-calendar-check c-main-nav__ico"></i
              >Terminarz
            </a>
          </li>
          <li class="c-main-nav__item">
            <a href="#" class="c-main-nav__link">
              <i class="fa-solid fa-address-book c-main-nav__ico"></i>Kontakt
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
