<div class="c-modal-loading js-modal-loading">
    <div class="c-modal-loading__loader-container">
        <div class="c-modal-loading__laoder"></div>
        <p class="c-modal-loading__text">Loading...</p>
    </div>
</div>
