<section id="js-packages-id" class="l-packages s-bottom-100">
  <div class="l-inner">
    <div class="c-packages">
      <h2 class="c-packages__title">Pakiety & Cennik</h2>
      <h3 class="c-packages__subtitle">Wybierz jeden z pakietów:</h3>

      <div class="c-packages__package-list-container">
        <ul class="c-package-list">
          <li class="c-package-list__item">
            <div class="c-package">
              <div class="c-package__package-info-container">
                <div class="c-package-info c-package-info--navy-blue">
                  <p class="c-package-info__name">SMALL</p>
                  <p class="c-package-info__price">550zł</p>
                </div>
              </div>
              <div class="c-package__option-list-container">
                <ul class="c-option-list">
                  <li class="c-option-list__item">
                    <i class="fas fa-check c-option-list__check-ico"></i> 2
                    godziny zabawy
                  </li>
                  <li class="c-option-list__item">
                    <i class="fas fa-check c-option-list__check-ico"></i>
                    Nieograniczona ilość wykonanych zdjęć
                  </li>
                  <li class="c-option-list__item">
                    <i class="fas fa-check c-option-list__check-ico"></i>
                    Mnóstwo śmiesznych gadżetów
                  </li>
                  <li class="c-option-list__item">
                    <i class="fas fa-check c-option-list__check-ico"></i>
                    Asystent do fotobudki
                  </li>
                  <li class="c-option-list__item">
                    <i class="fas fa-check c-option-list__check-ico"></i>
                    Personalizacja wydruku zdjęć
                  </li>
                  <li class="c-option-list__item">
                    <i class="fas fa-check c-option-list__check-ico"></i>
                    Galeria zdjęć w internecie
                  </li>
                  <li class="c-option-list__item">
                    <i class="fas fa-check c-option-list__check-ico"></i> Tło do
                    wyboru
                  </li>
                  <li class="c-option-list__item">
                    <i class="fas fa-times c-option-list__times-ico"></i>
                    Pendrive ze zdjęciami
                  </li>
                  <li class="c-option-list__item">
                    <i class="fas fa-times c-option-list__times-ico"></i> Green
                    Screen
                  </li>
                  <li class="c-option-list__item">
                    <i class="fas fa-times c-option-list__times-ico"></i> Księga
                    gości gratis
                  </li>
                </ul>
              </div>
            </div>
          </li>

          <li class="c-package-list__item">
            <div class="c-package">
              <div class="c-package__package-info-container">
                <div class="c-package-info c-package-info--green">
                  <p class="c-package-info__name">MEDIUM</p>
                  <p class="c-package-info__price">700zł</p>
                </div>
              </div>
              <div class="c-package__option-list-container">
                <ul class="c-option-list">
                  <li class="c-option-list__item">
                    <i class="fas fa-check c-option-list__check-ico"></i> 3
                    godziny zabawy
                  </li>
                  <li class="c-option-list__item">
                    <i class="fas fa-check c-option-list__check-ico"></i>
                    Nieograniczona ilość wykonanych zdjęć
                  </li>
                  <li class="c-option-list__item">
                    <i class="fas fa-check c-option-list__check-ico"></i>
                    Mnóstwo śmiesznych gadżetów
                  </li>
                  <li class="c-option-list__item">
                    <i class="fas fa-check c-option-list__check-ico"></i>
                    Asystent do fotobudki
                  </li>
                  <li class="c-option-list__item">
                    <i class="fas fa-check c-option-list__check-ico"></i>
                    Personalizacja wydruku zdjęć
                  </li>
                  <li class="c-option-list__item">
                    <i class="fas fa-check c-option-list__check-ico"></i>
                    Galeria zdjęć w internecie
                  </li>
                  <li class="c-option-list__item">
                    <i class="fas fa-check c-option-list__check-ico"></i> Tło do
                    wyboru
                  </li>
                  <li class="c-option-list__item">
                    <i class="fas fa-check c-option-list__check-ico"></i>
                    Pendrive ze zdjęciami
                  </li>
                  <li class="c-option-list__item">
                    <i class="fas fa-check c-option-list__check-ico"></i> Green
                    Screen
                  </li>
                  <li class="c-option-list__item">
                    <i class="fas fa-times c-option-list__times-ico"></i> Księga
                    gości gratis
                  </li>
                </ul>
              </div>
            </div>
          </li>

          <li class="c-package-list__item">
            <div class="c-package">
              <div class="c-package__package-info-container">
                <div class="c-package-info c-package-info--orange">
                  <p class="c-package-info__name">HIGH</p>
                  <p class="c-package-info__price">850zł</p>
                </div>
              </div>
              <div class="c-package__option-list-container">
                <ul class="c-option-list">
                  <li class="c-option-list__item">
                    <i class="fas fa-check c-option-list__check-ico"></i> 3
                    godziny zabawy
                  </li>
                  <li class="c-option-list__item">
                    <i class="fas fa-check c-option-list__check-ico"></i>
                    Nieograniczona ilość wykonanych zdjęć
                  </li>
                  <li class="c-option-list__item">
                    <i class="fas fa-check c-option-list__check-ico"></i>
                    Mnóstwo śmiesznych gadżetów
                  </li>
                  <li class="c-option-list__item">
                    <i class="fas fa-check c-option-list__check-ico"></i>
                    Asystent do fotobudki
                  </li>
                  <li class="c-option-list__item">
                    <i class="fas fa-check c-option-list__check-ico"></i>
                    Personalizacja wydruku zdjęć
                  </li>
                  <li class="c-option-list__item">
                    <i class="fas fa-check c-option-list__check-ico"></i>
                    Galeria zdjęć w internecie
                  </li>
                  <li class="c-option-list__item">
                    <i class="fas fa-check c-option-list__check-ico"></i> Tło do
                    wyboru
                  </li>
                  <li class="c-option-list__item">
                    <i class="fas fa-check c-option-list__check-ico"></i>
                    Pendrive ze zdjęciami
                  </li>
                  <li class="c-option-list__item">
                    <i class="fas fa-check c-option-list__check-ico"></i> Green
                    Screen
                  </li>
                  <li class="c-option-list__item">
                    <i class="fas fa-check c-option-list__check-ico"></i> Księga
                    gości gratis
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
