<section class="l-slider s">
  <div class="c-slider">
    <div class="c-slider__slides-wrapper">
      <ul class="c-slides-list js-slides-list"></ul>
    </div>
    <div class="c-slider__actions">
      <div class="c-slider__navigation-wrapper">
        <div class="c-slider-navigation">
          <button
            class="c-slider-navigation__button c-slider-navigation__button--left js-slider-navigation-button-left"
          >
            <i class="fa-solid fa-angles-left c-slider-navigation__arrow-ico"></i>
          </button>
          <button
            class="c-slider-navigation__button c-slider-navigation__button--right js-slider-navigation-button-right"
          >
            <i class="fa-solid fa-angles-right c-slider-navigation__arrow-ico"></i>
          </button>
        </div>
      </div>

      <div class="c-slider__pagination-wrapper">
        <ul class="c-pagination-list js-pagination-list"></ul>
      </div>
    </div>
  </div>
</section>
