*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a,
button {
    cursor: pointer;

    color: currentcolor;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
    height: auto;
}

figure {
    margin: 0;

    img {
        display: block;
    }
}

dd,
dt,
dl {
    margin: 0;
}

svg {
    fill: currentcolor;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
